/* Reset */
/* line 13, ../sass/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 23, ../sass/style.scss */
body {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 32, ../sass/style.scss */
.iOS {
  font-family: helvetica;
}

/* line 35, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 38, ../sass/style.scss */
a {
  color: #00B4F1;
  text-decoration: none;
}

/* line 43, ../sass/style.scss */
#header {
  z-index: 10;
  position: relative;
}

/* line 49, ../sass/style.scss */
#wrapper,
html, body {
  position: absolute;
  width: 100%;
  background: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

/* line 57, ../sass/style.scss */
#menuWrapper {
  background: white;
  width: 100%;
  height: 100%;
}

/* line 63, ../sass/style.scss */
#infoPage {
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #d6f5ff));
  background-image: -webkit-radial-gradient(#ffffff, #d6f5ff);
  background-image: -moz-radial-gradient(#ffffff, #d6f5ff);
  background-image: -o-radial-gradient(#ffffff, #d6f5ff);
  background-image: radial-gradient(#ffffff, #d6f5ff);
}
/* line 74, ../sass/style.scss */
#infoPage .inner {
  padding: 0 20px 20px;
}
/* line 76, ../sass/style.scss */
#infoPage .inner p {
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 80, ../sass/style.scss */
#infoPage .inner .label {
  font-weight: bold;
}
/* line 83, ../sass/style.scss */
#infoPage .inner p.first {
  margin-top: 80px;
}
/* line 86, ../sass/style.scss */
#infoPage .inner ul {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* line 95, ../sass/style.scss */
#infoPage.invisible {
  z-index: -10;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 100, ../sass/style.scss */
#contentWrapper {
  -webkit-box-shadow: -3px 0px 8px 2px #929292;
  -moz-box-shadow: -3px 0px 8px 2px #929292;
  box-shadow: -3px 0px 8px 2px #929292;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 111, ../sass/style.scss */
#contentWrapper #slides {
  overflow: hidden;
  z-index: 5;
  position: relative;
}
/* line 115, ../sass/style.scss */
#contentWrapper #slides .slide {
  float: left;
  width: 100%;
  z-index: 5;
}
/* line 120, ../sass/style.scss */
#contentWrapper #slides .slide img.streamBanner {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

/* line 130, ../sass/style.scss */
body.active-menu #contentWrapper {
  -webkit-transform: translate3d(85%, 0, 0);
  -moz-transform: translate3d(85%, 0, 0);
  -ms-transform: translate3d(85%, 0, 0);
  -o-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}

/* line 134, ../sass/style.scss */
#menuBar, #logoBar {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #d6f5ff));
  background-image: -webkit-radial-gradient(#ffffff, #d6f5ff);
  background-image: -moz-radial-gradient(#ffffff, #d6f5ff);
  background-image: -o-radial-gradient(#ffffff, #d6f5ff);
  background-image: radial-gradient(#ffffff, #d6f5ff);
  height: 74px;
}

/* line 138, ../sass/style.scss */
#logoBar {
  z-index: 10;
}

/* line 142, ../sass/style.scss */
#streamLogo div,
.menuLogo {
  margin: 0 auto;
  padding-top: 10px;
  display: block;
}

/* line 147, ../sass/style.scss */
#streamLogo div {
  width: 90px;
}

/* line 153, ../sass/style.scss */
#streamInfo {
  padding: 5px 20px;
  z-index: 10;
}
/* line 156, ../sass/style.scss */
#streamInfo #streamName {
  font-weight: bold;
  display: block;
}
/* line 160, ../sass/style.scss */
#streamInfo #nowPlaying {
  display: block;
  font-size: 90%;
}

/* line 166, ../sass/style.scss */
.iOS #streamInfo {
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  min-height: 60px;
}

/* line 174, ../sass/style.scss */
.Android #streamInfo {
  background-color: #ffffff;
  min-height: 70px;
}
/* line 177, ../sass/style.scss */
.Android #streamInfo #streamName {
  color: #6cb3e6;
  padding: 2px 5px 3px;
  border-bottom: 3px solid #6cb3e6;
}
/* line 182, ../sass/style.scss */
.Android #streamInfo #nowPlaying {
  margin-top: 5px;
}

/* line 192, ../sass/style.scss */
.menubutton,
#closeInfo {
  display: inline-block;
  position: absolute;
  left: 10px;
}

/* line 200, ../sass/style.scss */
.iOS .menubutton,
.iOS #closeInfo {
  height: 30px;
  width: 49px;
  background: url("../images/button-menu.png");
  top: 30px;
}

/* line 209, ../sass/style.scss */
.Android .menubutton,
.Android #closeInfo {
  height: 55px;
  width: 39px;
  background: url("../images/android/menu.png");
  top: 8px;
}

/* line 218, ../sass/style.scss */
.contactButton {
  display: inline-block;
  position: absolute;
  right: 10px;
}

/* line 224, ../sass/style.scss */
.iOS .contactButton {
  background: url("../images/button-mail.png");
  height: 30px;
  width: 49px;
  top: 30px;
}

/* line 232, ../sass/style.scss */
.Android .contactButton {
  background: url("../images/android/contact.png");
  height: 55px;
  width: 43px;
  top: 8px;
}

/* line 241, ../sass/style.scss */
#appMenu {
  padding: 0 0 10%;
  list-style: none;
  font-size: 90%;
  color: #666666;
}
/* line 247, ../sass/style.scss */
#appMenu li a {
  color: #666666;
  text-decoration: none;
  display: block;
}
/* line 252, ../sass/style.scss */
#appMenu li:last-child {
  margin-bottom: 0;
}
/* line 255, ../sass/style.scss */
#appMenu li .streamName {
  font-weight: bold;
  display: block;
}
/* line 259, ../sass/style.scss */
#appMenu li .description {
  display: block;
}

/* line 267, ../sass/style.scss */
.iOS #appMenu li {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
  background-image: -o-linear-gradient(#ffffff, #f3f3f3);
  background-image: linear-gradient(#ffffff, #f3f3f3);
  border-bottom: 1px solid #d9d9d9;
}
/* line 270, ../sass/style.scss */
.iOS #appMenu li a {
  padding: 15px 35% 15px 10%;
}
/* line 273, ../sass/style.scss */
.iOS #appMenu li:first-child {
  border-top: 1px solid #d9d9d9;
}
/* line 276, ../sass/style.scss */
.iOS #appMenu li #showInfo {
  background: url("../images/but-info.png") no-repeat 75% center;
}
/* line 280, ../sass/style.scss */
.iOS #appMenu .stream-button {
  background: url("../images/but-play.png") no-repeat 75% center;
}

/* line 287, ../sass/style.scss */
.Android #appMenu li {
  border-top: 3px solid #6cb3e6;
  margin: 0 20% 0 5%;
}
/* line 290, ../sass/style.scss */
.Android #appMenu li a {
  padding: 15px 5% 45px;
}
/* line 293, ../sass/style.scss */
.Android #appMenu li:first-child {
  margin-top: 20px;
}
/* line 296, ../sass/style.scss */
.Android #appMenu li #showInfo {
  background: url("../images/android/info.png") no-repeat 95% center;
}
/* line 300, ../sass/style.scss */
.Android #appMenu .stream-button {
  background: url("../images/android/menuPlay.png") no-repeat 95% 95%;
}

/* line 308, ../sass/style.scss */
#player {
  z-index: 10;
}
/* line 310, ../sass/style.scss */
#player #playerControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
/* line 315, ../sass/style.scss */
#player #playerControls #playStream {
  display: block;
  margin: 7px auto;
}
/* line 319, ../sass/style.scss */
#player #playerControls #stopStream {
  display: block;
  margin: 7px auto;
}

/* line 327, ../sass/style.scss */
.iOS #player #playerControls {
  height: 85px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(51%, #424242), color-stop(100%, #8d8d8d));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
  background-image: linear-gradient(bottom, #000000 0%, #000000 50%, #424242 51%, #8d8d8d 100%);
}
/* line 330, ../sass/style.scss */
.iOS #player #playerControls #playStream {
  background: url("../images/play-button.png") no-repeat;
  width: 30px;
  height: 28px;
}
/* line 335, ../sass/style.scss */
.iOS #player #playerControls #stopStream {
  background: url("../images/stop-button.png") no-repeat;
  width: 30px;
  height: 28px;
}

/* line 345, ../sass/style.scss */
.Android #player #playerControls {
  height: 90px;
  background-color: #000000;
}
/* line 348, ../sass/style.scss */
.Android #player #playerControls #playStream {
  background: url("../images/android/play.png") no-repeat;
  width: 65px;
  height: 30px;
}
/* line 353, ../sass/style.scss */
.Android #player #playerControls #stopStream {
  background: url("../images/android/stop.png") no-repeat;
  width: 65px;
  height: 30px;
}

/* line 361, ../sass/style.scss */
.hidden {
  display: none !important;
}

/* line 367, ../sass/style.scss */
nav#pager {
  position: absolute;
  width: 100%;
  z-index: 12;
}
/* line 372, ../sass/style.scss */
nav#pager ul#position {
  position: relative;
  display: block;
  padding: 0;
  float: none;
  text-align: center;
  line-height: 0;
}
/* line 379, ../sass/style.scss */
nav#pager ul#position li {
  display: inline-block;
  height: 8px;
  width: 8px;
  padding: 0;
  margin: 0 3px;
  background-color: #cccccc;
  position: relative;
}
/* line 388, ../sass/style.scss */
nav#pager ul#position li.on {
  background-color: #0099ff;
}

/* line 394, ../sass/style.scss */
.iOS nav#pager {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #656565));
  background-image: -webkit-linear-gradient(#999999, #656565);
  background-image: -moz-linear-gradient(#999999, #656565);
  background-image: -o-linear-gradient(#999999, #656565);
  background-image: linear-gradient(#999999, #656565);
  height: 8px;
  padding: 4px 0;
  bottom: 85px;
}
/* line 399, ../sass/style.scss */
.iOS nav#pager ul#position {
  margin: 0 auto;
}
/* line 401, ../sass/style.scss */
.iOS nav#pager ul#position li {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 404, ../sass/style.scss */
.iOS nav#pager ul#position li.on {
  background-color: #0099ff;
}

/* line 412, ../sass/style.scss */
.Android nav#pager {
  background-color: #e1e1e1;
  height: 8px;
  padding: 4px 0;
  bottom: 90px;
}
/* line 417, ../sass/style.scss */
.Android nav#pager ul#position {
  margin: 0 auto;
}
/* line 419, ../sass/style.scss */
.Android nav#pager ul#position li {
  background-color: #aeaeae;
}
/* line 422, ../sass/style.scss */
.Android nav#pager ul#position li.on {
  background-color: #6cb3e6;
}
